services:
  workspace:
    image: mcr.microsoft.com/devcontainers/base:ubuntu
    command: sleep infinity
    working_dir: /workspaces/iac-learn
    volumes:
      - ..:/workspaces/iac-learn
      - /var/run/docker.sock:/var/run/docker.sock
